extends layout

block content
  .container
    .text-center
      h2 New Student (DAW2020)

    .card.my-5.text-center.border-danger(id="general-error", style="display: none;")
      .card-body
        span(style="color: red;")
    
    .mb-5
      form(id="new-student-form")
        .form-row
          .col-7
            label(for="name")
            input.form-control(type="text", id="name", name="nome", placeholder="Name...", required)
            p(id="name-error", style="color: red; display: none") Name is required 
          .col
            label(for="number")
            input.form-control(type="text", id="number", name="numero", placeholder="Number...", required)
            p(id="number-error", style="color: red; display: none") Number is required 
        .form-group
          label(for="git")
          .input-group.mb-2
            .input-group-prepend
              .input-group-text github.com/
            input.form-control(type="text", id="git", name="git", placeholder="Git repo...")

        div.mb-5
          h5.pt-3.pt-2 TPCs Done
          - let i = 1;

            while i < 9
              .custom-control.custom-checkbox.custom-control-inline
                input.custom-control-input(type="checkbox", id=`tpc${i}`, name=`tpc${i}`)
                label.custom-control-label(for=`tpc${i}`) TPC #{i}
                - i++
        
        div.text-center
          button.btn.btn-primary(type="button", onclick="registerStudent();") Register student

  script(src="/javascripts/galunos.js")