extends layout

block content
  .container
    div.pt-4.text-center
      h2 Students List (DAW2020)

      if list.length > 0
        .container.py-5
          table.table.table-borderless
            thead.thead-dark
              tr
                th Number
                th Name
                th Git
            tbody
              each s in list
                tr
                  td= s.numero
                  td= s.nome
                  td
                    if s.git
                      a(href=s.git, target="_blank")= s.git.substring(19).split(".git")[0]
      else
        .container
          p There are no students

    footer.container
      hr
      p.float-right
        a(href="#") Back to top
      p &copy; DAW 2020 - Developed by Vasco Ramos.