footer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 100%;
}

.tasks-board {
    padding: 0.5em 1em 0.5em 0;
    list-style-type: none;
}

.tasks-board > li {
    margin-bottom: 0.5em;
}

.task,
.task-done {
    padding: 0.8em;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition-property: border-color, box-shadow, background-color;
    transition-duration: 0.3s;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
}

.task:hover,
.task-done:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}

.task-done {
    opacity: 0.5;
}

.task-done > .task-description,
.task-done > .task-due-date {
    text-decoration: line-through;
}

.task-section-right {
    float: right;
}

.task-due-date,
.task-category {
    margin-right: 2em;
}

.new-task {
    padding-left: 0.8em;
    margin-top: 1em;
    color: gray;
}

.new-task-button > i {
    margin-right: 0.5em;
}

.new-task-button:hover,
.check-task-button:hover,
.edit-task-button:hover,
.delete-task-button:hover {
    cursor: pointer;
    opacity: 1;
    color: #007bff;
}

.check-task-button,
.edit-task-button,
.delete-task-button {
    margin-right: 0.5em;
    color: gray;
}
